@import "tailwindcss";

:root {
  background: #27272a;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none; /* firefox */
}

::-webkit-scrollbar {
  display: none; /* chrome/safari */
}
